# Ignore all .nc and .zarr files in the data folder
data/*.nc
data/*.zarr
data/*.zarr/

# Ignore all .nc and .zarr files in the output folder
outputs/*.nc
outputs/*.zarr
outputs/*.zarr/
outputs/*.*
**/outputs/*.*
/outputs/
# Optionally, ignore the entire data and output folders
# Uncomment the following lines if you want to ignore these folders completely
# data/
# output/

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Zarr-specific files and folders
*.zarr
*.zarr/

# slurmp out files
*.out
*.out/
